<div class="publications">
  <h3 class="pillar">Efficient Generative Modeling</h3>
  {% bibliography --query @*[category=generative]* --group_by none %}

  <h3 class="pillar">Hardware/Algorithm Co-design and EDA</h3>
  {% bibliography --query @*[category=codesign]* --group_by none %}

  <h3 class="category">Other Publications</h3>
  {% bibliography --query @*[category=others]* --group_by none %}
</div>
