{% if site.enable_visitor_map %}
  <div class="visitor-map mt-4">
    <h2>visitor map</h2>
    <div class="text-center">
      <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=bQvipTZzykq5igJrZt9MXPHv85Gn9HuKEmKtaFxmXiQ&cl=ffffff&w=a"></script>
    </div>
  </div>
{% endif %}
